* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat-regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: regular;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Semibold";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  font-family: "Montserrat-regular";
  scroll-behavior: smooth;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  position: relative;
}

.main-section {
  min-height: 800px;
  background: #F6F6F6;
  position: relative;
  overflow: hidden;
  padding-top: 15px;
  z-index: 3;
}
.main-section__nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 82px;
}
.main-section__logo {
  height: 80px;
  filter: drop-shadow(5px 18px 4px rgba(0, 0, 0, 0.25));
}
.main-section__content-container {
  position: relative;
  display: flex;
  flex-direction: row;
}
.main-section__first-ellipse {
  position: absolute;
  left: 303px;
  top: 0px;
}
.main-section__left-ellipse {
  position: absolute;
  bottom: -74px;
  left: -754px;
}
.main-section__outside-ellipse {
  position: absolute;
  right: -120px;
  top: 650px;
}

.nav-menu__list {
  display: flex;
  flex-direction: row;
}
.nav-menu__list-item {
  margin-right: 42px;
  font-size: 26px;
  font-family: "Montserrat-Semibold";
}
.nav-menu__list-item:last-child {
  margin-right: 0px;
}

a {
  color: black;
  text-decoration: none;
  transition: 1s all;
}
a:hover {
  color: #358AFF;
}

.left-wrapper {
  position: relative;
}
.left-wrapper__img {
  position: relative;
  z-index: 5;
}
.left-wrapper__img-guitar-figures {
  display: none;
}
.left-wrapper__rectangle-blue {
  position: absolute;
  top: 120px;
  left: -50px;
  width: 540.58px;
  height: 180.19px;
  background: #358AFF;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-67.1deg);
  z-index: 3;
}
.left-wrapper__rectangle-orange {
  position: absolute;
  width: 618.33px;
  height: 206.11px;
  top: 120px;
  left: -20px;
  z-index: 2;
  background: #FF7E4B;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-43.22deg);
}
.left-wrapper__rectangle-cream {
  position: absolute;
  width: 589.63px;
  height: 196.54px;
  top: 120px;
  left: 20px;
  background: #FFEBEB;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-26.37deg);
  z-index: 1;
}

.right-wrapper {
  width: 400px;
  position: absolute;
  top: 50px;
  right: 16px;
  z-index: 5;
}
.right-wrapper__web-icons {
  margin-bottom: 5px;
}
.right-wrapper__title {
  margin-bottom: 40px;
}
.right-wrapper__text {
  margin-bottom: 42px;
}
.right-wrapper__buttons {
  position: relative;
  right: 30px;
}

.text {
  font-size: 28px;
}

.web-icons {
  display: flex;
  flex-direction: row;
}
.web-icons__item {
  margin-right: 30px;
}
.web-icons__item:last-child {
  margin-right: 0px;
}

.title {
  font-size: 72px;
  font-family: "Montserrat-Semibold";
  position: relative;
  z-index: 2;
}
.title__line {
  position: absolute;
  left: 6px;
  top: 66px;
}
.title__line_main {
  width: 345px;
}
.title__line_third {
  width: 377px;
}

.button {
  display: flex;
  flex-direction: row;
  width: 452px;
}
.button__book-a-lesson {
  margin-right: 35px;
  width: 205px;
  height: 82px;
  background: #FF7E4B;
  border-radius: 77px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 21px;
  font-family: "Montserrat-Semibold";
  color: #FFEBEB;
  border: none;
}
.button__text {
  font-size: 24px;
  font-family: "Montserrat-Semibold";
}
.button__referense {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button__referense img {
  margin-right: 21px;
}
.button__white-reference {
  color: white;
}

.ellipse {
  width: 217px;
  height: 217px;
  background: linear-gradient(136.68deg, rgba(255, 126, 75, 0.5) 13.76%, rgba(53, 138, 255, 0.5) 49.71%, rgba(156, 156, 156, 0.5) 84.19%);
  border-radius: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ellipse__subtract {
  width: 131.25px;
  height: 131.25px;
  background: #F6F6F6;
  border-radius: 180px;
}

.ellipse_big {
  width: 274px;
  height: 274px;
}

.ellipse__subtract_big {
  width: 166px;
  height: 166px;
}

.second-section {
  background: #FFFFFF;
  min-height: 707px;
  overflow: hidden;
}
.second-section__content-container {
  position: relative;
  padding-top: 30px;
}
.second-section__title {
  margin-bottom: 50px;
}
.second-section__card-box {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  position: relative;
  z-index: 2;
}
.second-section__awards-box {
  display: flex;
  justify-content: space-evenly;
}
.second-section__first-ellipse {
  position: absolute;
  right: 170px;
  top: -82px;
}
.second-section__second-ellipse {
  position: absolute;
  left: -100px;
  top: 230px;
}

.card-item {
  position: relative;
  width: 355.63px;
  height: 360px;
  overflow: hidden;
  background: #4E5B6D;
  border-radius: 64px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 39px;
  display: flex;
  align-items: flex-end;
}
.card-item:last-child {
  margin-right: 0px;
}
.card-item__img {
  height: 335px;
}
.card-item__img_acoustic {
  position: relative;
  left: 10px;
}
.card-item__text {
  width: 240.61px;
  height: 88px;
  position: absolute;
  font-family: "Montserrat-Semibold";
  top: 129px;
  left: 107px;
  color: #FFFFFF;
  font-size: 37px;
  text-align: center;
  transform: matrix(0.62, 0.78, -0.78, 0.62, 0, 0);
}

.card-item_orange {
  background: #FF7E4B;
}

.card-item_blue {
  background: #358AFF;
}

.award-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.award-item__img {
  margin-right: 20px;
  width: 80px;
}
.award-item__text {
  font-size: 22px;
  align-items: stretch;
}
.award-item__text span {
  font-size: 38px;
  font-family: "Montserrat-Semibold";
  font-style: normal;
  font-weight: 700;
}

.third-section {
  min-height: 830px;
  background: #F6F6F6;
  position: relative;
  overflow: hidden;
}
.third-section__content-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.third-section__left-wrapper {
  display: flex;
  align-items: center;
  z-index: 1;
}
.third-section__right-wrapper {
  max-width: 630px;
  padding-top: 40px;
}
.third-section__title {
  margin-bottom: 39px;
}
.third-section__text {
  margin-bottom: 39px;
}
.third-section__first-ellipse {
  position: absolute;
  top: 303px;
  left: -114px;
}
.third-section__second-elipse {
  position: absolute;
  left: 156px;
}
.third-section__third-ellipse {
  position: absolute;
  top: -136px;
  right: -117px;
}
.third-section__fourth-ellipse {
  position: absolute;
  bottom: -121px;
  right: 156px;
}

.footer-section {
  background: #FFFFFF;
  position: relative;
}
.footer-section__main-photo {
  position: absolute;
  left: -6px;
  bottom: 154px;
}
.footer-section__content-container {
  display: flex;
  justify-content: center;
  padding-top: 33px;
}
.footer-section__web-icons {
  padding-left: 0px;
  justify-content: center;
}
.footer-section__title {
  margin-bottom: 29px;
}

@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
  .main-section {
    min-height: 706px;
  }
  .main-section__outside-ellipse {
    position: absolute;
    right: -120px;
    top: 549px;
  }
  .ellipse_big {
    width: 254px;
    height: 254px;
  }
  .left-wrapper__img {
    width: 730px;
    top: 20px;
  }
  .left-wrapper__rectangle-blue {
    left: -62px;
    width: 505px;
    height: 174.19px;
  }
  .left-wrapper__rectangle-orange {
    width: 540.33px;
    height: 160.11px;
    top: 131px;
    left: -30px;
  }
  .left-wrapper__rectangle-cream {
    width: 541.63px;
    height: 176.54px;
    top: 120px;
    left: -28px;
  }
  .right-wrapper {
    width: 400px;
    top: 39px;
    right: 7px;
  }
  .right-wrapper__title {
    margin-bottom: 27px;
  }
  .right-wrapper__text {
    margin-bottom: 23px;
  }
  .title__line_main {
    width: 325px !important;
  }
  .second-section {
    min-height: 625px;
  }
  .title {
    font-size: 68px;
  }
  .title__line_second {
    width: 391px !important;
  }
  .card-item {
    position: relative;
    width: 407.63px;
    height: 316px;
  }
  .card-item__text {
    top: 115px;
    left: 72px;
    font-size: 32px;
  }
  .card-item__img {
    height: 280px;
  }
  .card-item__img_acoustic {
    left: 13px;
    bottom: 1px;
  }
  .award-item__text {
    font-size: 20px;
  }
  .award-item__img {
    margin-right: 14px;
    width: 75px;
  }
  .third-section {
    min-height: 897px;
  }
  .third-section__left-wrapper {
    margin-right: 62px;
  }
  .third-section__second-elipse {
    left: 91px;
  }
  .third-section__right-wrapper {
    max-width: 540px;
  }
  .third-section__title {
    margin-bottom: 30px;
  }
  .title__line_third {
    width: 354px !important;
  }
  .footer-section__main-photo {
    bottom: 184px;
    width: 337px !important;
  }
}
@media (max-width: 991px) {
  .container {
    width: 720px;
  }
  .main-section {
    min-height: 575px;
  }
  .main-section__outside-ellipse {
    right: -126px;
    top: 483px;
  }
  .main-section__logo {
    height: 65px;
  }
  .main-section__first-ellipse {
    left: 239px;
    top: -16px;
    width: 195px;
    height: 195px;
  }
  .nav-menu__list {
    padding-bottom: 12px;
  }
  .nav-menu__list-item {
    margin-right: 37px;
    font-size: 20px;
  }
  .left-wrapper__img {
    width: 568px;
    top: 19px;
    right: 24px;
  }
  .left-wrapper__rectangle-blue {
    left: -52px;
    top: 83px;
    width: 362px;
    height: 139.19px;
  }
  .left-wrapper__rectangle-orange {
    width: 403px;
    height: 139.11px;
    top: 95px;
    left: -36px;
  }
  .left-wrapper__rectangle-cream {
    width: 397.63px;
    height: 124px;
    top: 117px;
    left: -6px;
  }
  .right-wrapper {
    width: 304px;
    top: 10px;
    right: 15px;
  }
  .web-icons__item {
    margin-right: 20px;
  }
  .web-icons__logo {
    width: 50px;
    height: 50px;
  }
  .title {
    font-size: 58px;
  }
  .title__line {
    top: 53px;
  }
  .title__line_main {
    width: 278px !important;
  }
  .text {
    font-size: 21px;
  }
  .button__book-a-lesson {
    margin-right: 18px;
    width: 162px;
    height: 62px;
    font-size: 17px;
  }
  .button img {
    width: 63px;
    margin-right: 14px;
  }
  .button__text {
    font-size: 20px;
  }
  .second-section {
    min-height: 501px;
  }
  .second-section__content-container {
    padding-top: 18px;
  }
  .second-section__first-ellipse {
    right: 115px;
    top: -149px;
  }
  .second-section__first-ellipse__card-box {
    margin-bottom: 19px;
  }
  .title__line_second {
    width: 333px !important;
  }
  .card-item {
    margin-right: 14px;
    height: 258px;
    overflow: hidden;
  }
  .card-item__img {
    height: 222px;
  }
  .card-item__img_acoustic {
    left: 9px;
    bottom: 1px;
  }
  .card-item__text {
    top: 100px;
    left: 21px;
    font-size: 25px;
  }
  .award-item__img {
    margin-right: 5px;
    width: 54px;
  }
  .award-item__text {
    font-size: 15px;
  }
  .award-item__text span {
    font-size: 30px;
  }
  .third-section {
    min-height: 670px;
  }
  .third-section__left-wrapper {
    margin-right: 0px;
  }
  .third-section__right-wrapper {
    max-width: 375px;
    padding-top: 22px;
  }
  .third-section__text {
    margin-bottom: 30px;
  }
  .third-section__second-elipse {
    width: 151px !important;
  }
  .third-section__third-ellipse {
    top: -146px;
    right: -149px;
  }
  .third-section__fourth-ellipse {
    bottom: -140px;
    right: -21px;
  }
  .title__line_third {
    width: 302px !important;
  }
  .footer-section__main-photo {
    bottom: 171px;
    width: 232px !important;
  }
  .footer-section__title {
    margin-bottom: 19px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 540px;
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 0;
    z-index: 25;
    height: 100%;
    width: 50%;
    background: linear-gradient(45deg, #a8edea, #fed6e3);
    transition: 0.5s all;
  }
  .nav-menu__list {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav-menu__list-item {
    margin-right: 0px;
    font-size: 26px;
  }
  .hamburger {
    height: 16px;
    width: 30px;
    position: fixed;
    top: 40px;
    right: 18px;
    z-index: 30;
  }
  .hamburger span {
    width: 100%;
    height: 2px;
    display: block;
    background: black;
    margin-bottom: 5px;
    transition: 0.5s all;
  }
  .hamburger span:last-child {
    margin-bottom: 0px;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
  .nav-menu_active {
    right: 0px;
    z-index: 29;
  }
  .main-section {
    min-height: 475px;
  }
  .main-section__nav-container {
    position: relative;
    width: 100%;
  }
  .main-section__first-ellipse {
    left: 202px;
    top: 48px;
  }
  .main-section__outside-ellipse {
    display: none;
  }
  .main-section__logo {
    height: 55px;
    position: absolute;
    left: 24px;
    top: 10px;
  }
  .left-wrapper__img {
    width: 423px;
    top: 35px;
    right: 53px;
  }
  .left-wrapper__rectangle-blue {
    left: -74px;
    top: 93px;
    width: 273px;
    height: 98.19px;
  }
  .left-wrapper__rectangle-orange {
    width: 301px;
    height: 97px;
    top: 92px;
    left: -73px;
  }
  .left-wrapper__rectangle-cream {
    width: 295.63px;
    height: 93px;
    top: 93px;
    left: -44px;
  }
  .right-wrapper {
    width: 237px;
    top: -5px;
    right: -5px;
  }
  .right-wrapper__buttons {
    right: 33px;
  }
  .right-wrapper__title {
    margin-bottom: 20px;
  }
  .right-wrapper__text {
    margin-bottom: 28px;
  }
  .web-icons__logo {
    width: 45px;
    height: 45px;
  }
  .title {
    font-size: 48px;
  }
  .title__line {
    top: 43px;
  }
  .title__line_main {
    width: 229px !important;
  }
  .text {
    font-size: 19px;
  }
  .button {
    flex-direction: column;
    align-items: center;
    width: 346px;
  }
  .button__book-a-lesson {
    margin-right: 0px;
    margin-bottom: 12px;
    font-size: 14px;
    width: 134px;
    height: 61px;
  }
  .button img {
    width: 51px;
  }
  .button__text {
    font-size: 19px;
  }
  .ellipse {
    width: 150px;
    height: 150px;
  }
  .ellipse__subtract {
    width: 100px;
    height: 100px;
  }
  .second-section {
    min-height: 828px;
  }
  .second-section__first-ellipse {
    right: 18px;
    top: -87px;
  }
  .second-section__title {
    margin-bottom: 28px;
  }
  .second-section__card-box {
    flex-direction: column;
    align-items: center;
  }
  .second-section__awards-box {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 405px;
    position: relative;
    left: 76px;
  }
  .title__line_second {
    width: 274px !important;
  }
  .card-item {
    height: 173px;
    margin-right: 0px;
    margin-bottom: 12px;
  }
  .card-item:last-child {
    margin-bottom: 0px;
  }
  .card-item__text {
    top: 55px;
    left: 145px;
    font-size: 32px;
    transform: none;
  }
  .card-item__img {
    position: absolute;
    left: 7px;
    top: 16px;
    height: 249px;
  }
  .card-item__img_acoustic {
    position: absolute;
    left: 39px;
  }
  .card-item_orange p {
    top: 73px;
    left: 139px;
  }
  .award-item__img {
    margin-right: 11px;
  }
  .award-item_7-years {
    margin-bottom: 10px;
  }
  .award-item_2000-hours {
    padding-right: 14px;
    margin-bottom: 20px;
  }
  .third-section {
    min-height: 519px;
  }
  .third-section__fourth-ellipse {
    bottom: -78px;
    right: -21px;
  }
  .third-section__second-elipse {
    width: 131px !important;
    left: 308px;
  }
  .third-section__content-container {
    justify-content: center;
  }
  .third-section__left-wrapper {
    display: none;
  }
  .third-section__right-wrapper {
    max-width: 478px;
  }
  .third-section__buttons {
    position: relative;
    left: 84px;
    flex-direction: row;
    z-index: 1;
  }
  .button__book-a-lesson {
    margin-right: 30px;
    width: 134px;
    height: 61px;
  }
  .footer-section__content-container {
    padding-top: 18px;
  }
  .footer-section__main-photo {
    bottom: 122px;
    width: 150px !important;
  }
  .footer-section__title {
    text-indent: 14px !important;
  }
}
@media (max-width: 575px) {
  .container {
    width: 100%;
  }
  .main-section {
    justify-content: space-between;
    min-height: 454px;
    padding: 1rem 0;
  }
  .main-section__first-ellipse {
    display: none;
  }
  .main-section__outside-ellipse {
    display: flex;
    position: absolute;
    top: 98px;
    right: -103px;
  }
  .left-wrapper__img-guitar-figures {
    display: flex;
    position: relative;
    width: 70%;
    top: 66px;
    right: 17px;
    z-index: 5;
  }
  .left-wrapper__img {
    display: none;
  }
  .left-wrapper__rectangle-blue {
    display: none;
  }
  .left-wrapper__rectangle-orange {
    display: none;
  }
  .left-wrapper__rectangle-cream {
    display: none;
  }
  .right-wrapper {
    right: 0px;
    width: 50%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
  }
  .right-wrapper__buttons {
    align-self: center;
    right: 0px;
    z-index: 11;
  }
  .right-wrapper__web-icons {
    flex-wrap: wrap;
  }
  .web-icons__logo {
    width: 35px;
    height: 35px;
  }
  .title {
    font-size: 32px;
  }
  .title__line {
    top: 33px;
  }
  .title__line_main {
    display: none;
  }
  .text {
    font-size: 15px;
  }
  .button {
    width: 117px;
  }
  .button__book-a-lesson {
    margin-right: 0px;
    width: 123px;
    height: 52px;
    font-size: 12px;
  }
  .button img {
    width: 39px;
  }
  .button__text {
    font-size: 14px;
  }
  .second-section__content-container {
    display: flex;
    flex-direction: column;
  }
  .second-section__title {
    padding-left: 1rem;
  }
  .title__line_second {
    width: 184px !important;
    left: 19px;
  }
  .second-section__awards-box {
    width: 85%;
    justify-content: space-between;
    align-self: center;
    flex-flow: row wrap;
    left: 0px;
  }
  .award-item__img {
    margin-right: 6px;
    width: 47px;
  }
  .award-item__text {
    font-size: 13px;
  }
  .award-item__text span {
    font-size: 26px;
  }
  .card-item {
    width: 70%;
  }
  .card-item__text {
    font-size: 6vw;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1.5rem;
    top: 0px;
    left: 0px;
  }
  .card-item_orange p {
    left: 0px;
    top: 0px;
  }
  .card-item__img {
    top: 33px;
    height: 202px;
  }
  .card-item__img_acoustic {
    top: 37px;
    left: 20px;
    height: 186px;
  }
  .card-item_blue p {
    left: 10px;
  }
  .third-section {
    min-height: 453px;
  }
  .third-section__right-wrapper {
    width: 90%;
  }
  .third-section__second-elipse {
    width: 30% !important;
    left: 293px;
  }
  .third-section__buttons {
    width: 100%;
    left: 0px;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
  }
  .third-section button {
    margin-right: 10px;
  }
  .footer-section__main-photo {
    width: 25% !important;
    bottom: 88px;
  }
}/*# sourceMappingURL=style.css.map */